@import url("https://www.dafontfree.net/embed/aW1wYWN0LXJlZ3VsYXImZGF0YS8yNS9pLzEyOTYxMi9pbXBhY3QudHRm");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'impact-regular', sans-serif;
}